# Sample environment variables

# Your default region
set -gx AWS_REGION ap-southeast-2

# What profile to pick from ~/.aws/config
set -gx AWS_DEFAULT_PROFILE berend

# Need this to make boto use the profile
set -gx AWS_PROFILE $AWS_DEFAULT_PROFILE

# Use dynamic inventory, point to where your ec2.py is
set -gx ANSIBLE_INVENTORY ~/src/ansible/contrib/inventory/ec2.py

# Dynamic inventory is very slow if you don't set EC2_INI_PATH
set -gx EC2_INI_PATH (pwd)/ec2.ini
